<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Snow Animation</title>
    <link rel="stylesheet" href="../stylesheets/Christmas/Christmas-snow.css">
</head>

<body>
    <canvas id="canvas"></canvas>
    <div class="message"> Merry X'mas</div>
    <div class="trees"></div>
    <div class="ground">
        <p>Copyrights © 2021 <a href="http://www.arasdesign.ir">Eugene Yiew</a></p>
    </div>
    <script src="../javascripts/Christmas/Christmas-snow.js"></script>
</body>

</html>